#pane{
    -fx-background-image: url("background_image.jpeg");
    -fx-background-repeat: stretch;
    -fx-background-size: 640 480;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}